DATABASE_URL=postgresql://postgres:postgres@localhost:5432/parcels
OPENROUTER_API_KEY=
OPENROUTER_MODEL=meta-llama/llama-3.1-8b-instruct
EMAIL_ADDRESS=
EMAIL_PASSWORD=
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
EMAIL_MAILBOX=Parcels
EMAIL_TRASH_MAILBOX=[Gmail]/Trash
REDACT_STRINGS=
TIMEZONE=UTC
REFRESH_PARCELS_CRON=0 0 */3 * * *
ENV=development
